.stackingcard {
  transform-style: preserve-3d;
}

.card {
  transform-style: preserve-3d;
  perspective: 2000px;
  transform-origin: center center;
}

.card-front,
.card-back {
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

