@import "tailwindcss";

@theme {
  --color-olive-dark: #504B38;
  --color-olive-light: #B9B28A;
  --color-olive-lighter: #EBE5C2;
  --color-olive-lightest: #F8F3D9;
  --color-green-dark: #283618;
  --color-green-light: #606C38;
  --color-orange-dark: #BC6C25;
  --color-orange-light: #DDA15E;
  --color-black-light: #393E46;
  --color-dirty-white: #FAFDF3;
}

html > * {
  @apply text-black-light;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container::-webkit-scrollbar { 
  
  display: none;  /* Safari and Chrome */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}


